<div class="col-lg-2 sidebar">
  <div class="logo">EduTrack</div>

  <ul class="nav flex-column">
    <li>
      <a href="/web/view/admin/dashboard" class="nav-link active"
        ><i class="fa-solid fa-chart-line"></i> Dashboard</a
      >
    </li>

    <li>
      <a href="/web/view/add/student/list" class="nav-link"
        ><i class="fa-solid fa-user-graduate"></i> Students</a
      >
    </li>

    <li>
      <a href="/web/view/add/faculty/list" class="nav-link"
        ><i class="fa-solid fa-chalkboard-user"></i> Faculties</a
      >
    </li>

    <li>
      <a href="/web/view/add/course/list" class="nav-link"
        ><i class="fa-solid fa-book"></i> Courses</a
      >
    </li>

    <li>
      <a href="/web/view/add/batch/list" class="nav-link"
        ><i class="fa-solid fa-users"></i> Batches</a
      >
    </li>

    <li>
      <a href="/web/view/batch/schedule/list" class="nav-link">
        <i class="fa-solid fa-calendar-days"></i> Batch Schedule
      </a>
    </li>

    <li>
      <a href="/web/view/attendance/list" class="nav-link"
        ><i class="fa-solid fa-calendar-check"></i> Attendance</a
      >
    </li>

    <li>
      <a href="/web/view/payment/management" class="nav-link"
        ><i class="fa-solid fa-money-bill"></i> Payments</a
      >
    </li>

    <li>
      <a href="/web/logout" class="nav-link">
        <i class="fa-solid fa-right-from-bracket"></i> Logout</a
      >
    </li>
  </ul>
</div>
